<ul class="productLister listView">


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error149117"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-apricot-ripe---ready-320g.html">
							Sainsbury's Apricot Ripe &amp; Ready x5
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/SainsburysStorefrontAssetStore/wcassets/product_images/media_7572754_M.jpg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_149117">
							<div class="pricing">


								<p class="pricePerUnit">
									£3.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£0.70<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_149117" action="OrderItemAdd" method="post" id="OrderItemAddForm_149117">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="7572754">

									<label class="access" for="quantity_149116">Quantity</label>

									<input name="quantity" id="quantity_149116" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="149117">
									<input type="hidden" name="productId" value="149116">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_149117" id="numberInTrolley_149117">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_149117" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error572163"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-avocado-xl-pinkerton-loose-300g.html">
							Sainsbury's Avocado Ripe &amp; Ready XL Loose 300g
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/ExtendedSitesCatalogAssetStore/images/catalog/productImages/51/0000000202251/0000000202251_M.jpeg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_572163">
							<div class="pricing">


								<p class="pricePerUnit">
									£1.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£1.50<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_572163" action="OrderItemAdd" method="post" id="OrderItemAddForm_572163">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="7678882">

									<label class="access" for="quantity_572162">Quantity</label>

									<input name="quantity" id="quantity_572162" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="572163">
									<input type="hidden" name="productId" value="572162">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_572163" id="numberInTrolley_572163">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_572163" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp -->
	<div class="coverage ranged"></div>
	<!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error138041"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-avocado--ripe---ready-x2.html">
							Sainsbury's Avocado, Ripe &amp; Ready x2
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/ExtendedSitesCatalogAssetStore/images/catalog/productImages/22/0000001600322/0000001600322_M.jpeg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_138041">
							<div class="pricing">


								<p class="pricePerUnit">
									£1.80<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£1.80<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_138041" action="OrderItemAdd" method="post" id="OrderItemAddForm_138041">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="6834746">

									<label class="access" for="quantity_138040">Quantity</label>

									<input name="quantity" id="quantity_138040" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="138041">
									<input type="hidden" name="productId" value="138040">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_138041" id="numberInTrolley_138041">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_138041" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error809817"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-avocados--ripe---ready-x4.html">
							Sainsbury's Avocados, Ripe &amp; Ready x4
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/ExtendedSitesCatalogAssetStore/images/catalog/productImages/15/0000000184915/0000000184915_M.jpeg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_809817">
							<div class="pricing">


								<p class="pricePerUnit">
									£3.20<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£3.20<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_809817" action="OrderItemAdd" method="post" id="OrderItemAddForm_809817">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="7718228">

									<label class="access" for="quantity_809816">Quantity</label>

									<input name="quantity" id="quantity_809816" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="809817">
									<input type="hidden" name="productId" value="809816">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_809817" id="numberInTrolley_809817">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_809817" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error136679"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-conference-pears--ripe---ready-x4-%28minimum%29.html">
							Sainsbury's Conference Pears, Ripe &amp; Ready x4 (minimum)
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/ExtendedSitesCatalogAssetStore/images/catalog/productImages/08/0000001514308/0000001514308_M.jpeg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_136679">
							<div class="pricing">


								<p class="pricePerUnit">
									£1.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£1.50<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_136679" action="OrderItemAdd" method="post" id="OrderItemAddForm_136679">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="6621757">

									<label class="access" for="quantity_136678">Quantity</label>

									<input name="quantity" id="quantity_136678" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="136679">
									<input type="hidden" name="productId" value="136678">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_136679" id="numberInTrolley_136679">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_136679" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error642875"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-golden-kiwi--taste-the-difference-x4-685641-p-44.html">
							Sainsbury's Golden Kiwi x4
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/ExtendedSitesCatalogAssetStore/images/catalog/productImages/41/0000000685641/0000000685641_M.jpeg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_642875">
							<div class="pricing">


								<p class="pricePerUnit">
									£1.80<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£0.45<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_642875" action="OrderItemAdd" method="post" id="OrderItemAddForm_642875">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="685641">

									<label class="access" for="quantity_642874">Quantity</label>

									<input name="quantity" id="quantity_642874" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="642875">
									<input type="hidden" name="productId" value="642874">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_642875" id="numberInTrolley_642875">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_642875" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>


<li>
	<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	<div class="errorBanner hidden" id="error130231"></div>

	<div class="product ">
		<div class="productInner">
			<div class="productInfoWrapper">
				<div class="productInfo">

					<h3>
						<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-kiwi-fruit--ripe---ready-x4.html">
							Sainsbury's Kiwi Fruit, Ripe &amp; Ready x4
							<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/SainsburysStorefrontAssetStore/wcassets/product_images/media_1116748_M.jpg" alt="">
						</a>
					</h3>

					<div class="ThumbnailRoundel">
						<!--ThumbnailRoundel -->
					</div>
					<div class="promoBages">
						<!-- PROMOTION -->
					</div>


					<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
				</div>
			</div>

			<div class="addToTrolleytabBox">
				<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
			If the user is not logged in, render this opening 
			DIV adding an addtional class to fix the border top which is removed 
			and replaced by the tabs
		-->
				<div class="addToTrolleytabContainer addItemBorderTop">
					<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
	                        ATTENTION!!!
	                        <div class="addToTrolleytabContainer">
	                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
	                        -->
					<div class="pricingAndTrolleyOptions">
						<div class="priceTab activeContainer priceTabContainer" id="addItem_130231">
							<div class="pricing">


								<p class="pricePerUnit">
									£1.80<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
								</p>

								<p class="pricePerMeasure">£0.45<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
								</p>


							</div>

							<div class="addToTrolleyForm ">

								<form class="addToTrolleyForm" name="OrderItemAddForm_130231" action="OrderItemAdd" method="post" id="OrderItemAddForm_130231">
									<input type="hidden" name="storeId" value="10151">
									<input type="hidden" name="langId" value="44">
									<input type="hidden" name="catalogId" value="10122">
									<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
									<input type="hidden" name="errorViewName" value="CategoryDisplayView">
									<input type="hidden" name="SKU_ID" value="1116748">

									<label class="access" for="quantity_130230">Quantity</label>

									<input name="quantity" id="quantity_130230" type="text" size="3" value="1" class="quantity">


									<input type="hidden" name="catEntryId" value="130231">
									<input type="hidden" name="productId" value="130230">

									<input type="hidden" name="page" value="">
									<input type="hidden" name="contractId" value="">
									<input type="hidden" name="calculateOrder" value="1">
									<input type="hidden" name="calculationUsage" value="-1,-2,-3">
									<input type="hidden" name="updateable" value="1">
									<input type="hidden" name="merge" value="***">

									<input type="hidden" name="callAjax" value="false">

									<input class="button process" type="submit" name="Add" value="Add">

								</form>

								<div class="numberInTrolley hidden numberInTrolley_130231" id="numberInTrolley_130231">

								</div>

							</div>

						</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="additionalItems_130231" class="additionalItems">
		<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
	</div>

	<!-- END CatalogEntryThumbnailDisplay.jsp -->
</li>



</ul>