<!-- BEGIN CatalogEntryThumbnailDisplay.jsp --><!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
<div class="errorBanner hidden" id="error149117"></div>

<div class="product ">
	<div class="productInner">
		<div class="productInfoWrapper">
			<div class="productInfo">

				<h3>
					<a href="http://hiring-tests.s3-website-eu-west-1.amazonaws.com/2015_Developer_Scrape/sainsburys-apricot-ripe---ready-320g.html">
						Sainsbury's Apricot Ripe &amp; Ready x5
						<img src="http://c2.sainsburys.co.uk/wcsstore7.11.1.161/SainsburysStorefrontAssetStore/wcassets/product_images/media_7572754_M.jpg" alt="">
					</a>
				</h3>

				<div class="ThumbnailRoundel">
					<!--ThumbnailRoundel -->
				</div>
				<div class="promoBages">
					<!-- PROMOTION -->
				</div>


				<!-- Review --><!-- BEGIN CatalogEntryRatingsReviewsInfo.jspf --><!-- productAllowedRatingsAndReviews: false --><!-- END CatalogEntryRatingsReviewsInfo.jspf -->
			</div>
		</div>

		<div class="addToTrolleytabBox">
			<!-- addToTrolleytabBox LIST VIEW--><!-- Start UserSubscribedOrNot.jspf --><!-- Start UserSubscribedOrNot.jsp --><!--
		If the user is not logged in, render this opening
		DIV adding an addtional class to fix the border top which is removed
		and replaced by the tabs
	-->
			<div class="addToTrolleytabContainer addItemBorderTop">
				<!-- End AddToSubscriptionList.jsp --><!-- End AddSubscriptionList.jspf --><!--
                        ATTENTION!!!
                        <div class="addToTrolleytabContainer">
                        This opening div is inside "../../ReusableObjects/UserSubscribedOrNot.jsp"
                        -->
				<div class="pricingAndTrolleyOptions">
					<div class="priceTab activeContainer priceTabContainer" id="addItem_149117">
						<div class="pricing">


							<p class="pricePerUnit">
								£3.50<abbr title="per">/</abbr><abbr title="unit"><span class="pricePerUnitUnit">unit</span></abbr>
							</p>

							<p class="pricePerMeasure">£0.70<abbr title="per">/</abbr><abbr title="each"><span class="pricePerMeasureMeasure">ea</span></abbr>
							</p>


						</div>

						<div class="addToTrolleyForm ">

							<form class="addToTrolleyForm" name="OrderItemAddForm_149117" action="OrderItemAdd" method="post" id="OrderItemAddForm_149117">
								<input type="hidden" name="storeId" value="10151">
								<input type="hidden" name="langId" value="44">
								<input type="hidden" name="catalogId" value="10122">
								<input type="hidden" name="URL" value="http://www.sainsburys.co.uk/webapp/wcs/stores/servlet/CategoryDisplay?msg=&amp;categoryId=185749&amp;langId=44&amp;storeId=10151&amp;krypto=dwlvaeB6%2FxULwIdnZBpXIWTi8eDrMLVBDvxz1SYU6pQ4HZ0p1fQ4WzDDbX58qo25joVKwiFFlmQW%0A0wrexmT0zSs9NxHPxri6CctBDvXHKi15cZntIRJRW%2F%2BHeNnUqybiZXu%2FL47P9A658zhrWd08mA5Y%0Azhm9vwQK7oLCWKF5VeQF9UiLmiVnffGVqRM76kUBxmRLDA%2BardwWtMA49XQA4Iqwf%2BSvFr8RJOHK%0Afp2%2Fk0F6LH6%2Fmq5%2FM97LMdaXyk0YneYUccDUWQUNnbztUkimdSo%2FydqEDvTdI5qgO6sKl0Q%3D">
								<input type="hidden" name="errorViewName" value="CategoryDisplayView">
								<input type="hidden" name="SKU_ID" value="7572754">

								<label class="access" for="quantity_149116">Quantity</label>

								<input name="quantity" id="quantity_149116" type="text" size="3" value="1" class="quantity">


								<input type="hidden" name="catEntryId" value="149117">
								<input type="hidden" name="productId" value="149116">

								<input type="hidden" name="page" value="">
								<input type="hidden" name="contractId" value="">
								<input type="hidden" name="calculateOrder" value="1">
								<input type="hidden" name="calculationUsage" value="-1,-2,-3">
								<input type="hidden" name="updateable" value="1">
								<input type="hidden" name="merge" value="***">

								<input type="hidden" name="callAjax" value="false">

								<input class="button process" type="submit" name="Add" value="Add">

							</form>

							<div class="numberInTrolley hidden numberInTrolley_149117" id="numberInTrolley_149117">

							</div>

						</div>

					</div><!-- END priceTabContainer Add container --><!-- Subscribe container --><!-- Start AddToSubscriptionList.jspf --><!-- Start AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jsp --><!-- End AddToSubscriptionList.jspf -->
				</div>
			</div>
		</div>
	</div>
</div>
<div id="additionalItems_149117" class="additionalItems">
	<!-- BEGIN MerchandisingAssociationsDisplay.jsp --><!-- Start - JSP File Name:  MerchandisingAssociationsDisplay.jsp --><!-- END MerchandisingAssociationsDisplay.jsp -->
</div>